@tailwind base;
@tailwind components;
@tailwind utilities;

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

.swiper-button-prev,
.swiper-button-next {
  @apply text-main-blue;
}

@font-face {
  font-family: 'SansBold';
  src: url('./fonts/IBMPlexSansKR-bold.ttf');
}

@font-face {
  font-family: 'SansRegular';
  src: url('./fonts/IBMPlexSansKR-regular.ttf');
}

@font-face {
  font-family: 'SansThin';
  src: url('./fonts/IBMPlexSansKR-thin.ttf');
}
